#data{
    min-width: 800px;
    /*min-height: 600px;*/
    margin: 0;
    padding: 0;
}

#left{
    position: relative;
    float: left;
    margin: 0px;
    min-width: 240px;
    width: 30%;
}

#content{
    position: relative;
    float: inherit;
    margin-left: 31%;
    width: 69%;
}

#top{
    width: 100%;
    height: 30px;
}

.accordion {height: 100%;}
.button {width: 100%; text-align: center;}
ul.menu { list-style-type: none; margin: 0; padding: 0;}
ul.menu li { margin: 2px; padding: 0.2em;}
/*
ul.menu li { margin: 2px; padding: 0.2em; font-size: small;}
div.accordion h3 {font-size: medium;}
*/
.object {list-style-type: none; padding: 0; margin: 0;}