.top {	border: 1px solid #4297d7;
	background: #2191c0 url(images/ui-bg_gloss-wave_75_2191c0_500x100.png) 50% 50% repeat-x;
	color: #eaf5f7;
	font-weight: bold;
        text-align: center;
        font-size: 26px;
        }
ul.menu { list-style-type: none; margin: 0; padding: 0;}
ul.menu li { margin: 2px; padding: 0.1em;}
.button {width: 100%; text-align: center;}
.button p {font-weight: bold; font-size: medium;}
ul.menu p {font-weight: bold; font-size: medium; margin: 0; padding: 0;}
#objectData {margin: 0; padding: 0; float: right;}