html, body{
    height: 100%;
    margin: 0;
    min-width: 480px;
    /*min-height: 800px;*/
}

div#wrapper{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

div#header{
    flex: 0 1 auto;
    margin: 10px 10px 10px 10px;
    height: 60px;
    background: gray;
}

div#main{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    margin: 0px 10px 0px 10px;
}

div#footer{
    flex: 0 1 auto;
    margin: 10px 10px 10px 10px;
    height: 20px;
    background: gray;
}

#menu{
    flex: 0 1 auto;
    min-width: 240px;
    width: 240px;
    max-width: 240px;
    margin: 0px 10px 0px 0px;
}

#content{
    flex: 1 1 auto;
    margin: 4px 0px 0px 0px;
}

/*Accordion Menu style*/
div.accordion ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.accordion ul li{
    padding-top: 2px;
    padding-bottom: 2px;
}

div.accordion ul li button{
    width: 100%;
/*    padding-top: 2px;
    padding-bottom: 2px;*/
}
